*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  background: url(/img/burger-bg-img.png);
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.order-section {
  display: none;
}

.complete-order-btn {
  display: none;
}
